<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
    <div class="heading">
        <h1>Welcome</h1>
    </div>
    <div class="split left">
        <div class="centered">
            <form action="http://example.com/" method="get" target="_blank">
            <input type="text" name="first" id="first" placeholder="Enter Station no">
            <br/>
            <button id="b1" onclick="opt1" >Entry Station</button>
        </form>
        </div>
      </div>
      
      <div class="split right">
        <div class="centered">
            <form action="http://example.com/" method="get" target="_blank">
            <input type="text" name="second" id="second" placeholder="Enter Station no">
            <br/>
            <button id="b2">Exit Station</button>
        </form>
        </div>
      </div> 
    
</body>
</html>